<app-header title="Apollo Story Crypto Tracker">
  <a beforeTitle href="https://rangle.io">
    <img
      src="https://res.cloudinary.com/rangle/image/upload/c_scale,co_rgb:FFFFFF,e_colorize:100,f_png/rangle.io/r-triangle-w_a10ohc.svg"
      alt="Rangle.io"
    />
  </a>
  <a afterTitle href="https://github.com/rangle/ng-apollo-story">
    <img
      src="/assets/Octicons-mark-github.svg"
      alt="ng-apollo-story Github Repo"
    />
  </a>
</app-header>
<main>
  <router-outlet></router-outlet>
</main>
